@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css');

body {
    font: 15pt/1.3 -apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,system-ui;
    margin: 0 auto;
    padding: 0 0.75em;
    cursor: default;
    background: linear-gradient(rgba(0, 0, 0, 0.97), rgba(0, 0, 0, 0.88)),url("https://i.giphy.com/media/NB59B0xtA9wc0/giphy.webp");
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main>div {
    max-width: 315px;
}
.socials {
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-out;
    padding: 0.35em 0.7em;
    display: inline-flex;
}
.socials a:hover {
    background-color: rgb(255, 213, 237);
    color: rgb(219, 36, 76);
}
::selection {
    background-color: rgba(219, 36, 76, 0.5) !important;
    color: white;
}
h1 {
    text-align: center;
    margin: 0 0 0.3em 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0.35em;
}
p>span {
    float: right;
}
hr {
    color: pink;
    border-color: pink;
}
object {
    outline: none !important;
}
div[fuck="me"] {
    margin: auto;
    user-select: none;
}
a[role="h"] {
    text-align: center;
    text-decoration: dotted underline;
    color: aliceblue;
    font-weight: bold;
}
a[role="h"]:hover {
    color: violet;
}
q {
    font-style: italic;
    font-size: smaller;
    color: rgba(255, 255, 255, 0.651);
}
p[role="quote"] {
    text-align: center;
    padding: 0;
}