body {
    font: 15pt/1.3 system-ui;
    margin: 0 auto;
    padding: 0 0.75em;
    cursor: default;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main>div {
    max-width: 315px;
}
a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-out;
    display: inline-block;
    width: 100%;
}
a:hover {
    background-color: black;
    color: white;
}
::selection {
    background-color: rgba(219, 36, 76, 0.5) !important;
    color: white;
}
h1 {
    text-align: center;
    margin: 0 0 0.3em 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0.35em;
}
p>span {
    float: right;
}
hr {
    color: pink;
    border-color: pink;
}
object {
    outline: none !important;
}
